{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load crispy_forms_tags %}

<div class="py-5 text-center">
	<h2>Task deletion</h2>
</div>

<div class="container">
	<p>Are you sure you want to delete task "{{item}}"?</p>
	<form action="" method="POST">
		{% csrf_token %}
		<button type="submit" name="Confirm" class="btn btn-success">Confirm</button>
		<button type="cancel" name="cancel" class="btn btn-danger"><a href="{% url 'list' %}" style="text-decoration: none; color: white">Cancel</a></button>
	</form>
</div>